<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Badge 标记</title>
	<link rel="stylesheet" href="../style/common.css">
	<link rel="stylesheet" href="../style/style.css">
</head>
<body>
	<!-- badge 基础样式 -->
	<div class="w1190">
		<span class="badge-bg"><em class="badge-text"></em><i class="icon-badge">1</i></span>
		<span class="badge-clear"><em>文字</em><i class="icon-badge">1</i></span>
	</div>
	<!-- badge 封顶样式 -->
	<div class="w1190 badge-dynamic">
		<span class="badge-bg"><em class="badge-text"></em><i max-number="9" class="icon-badge"></i></span>
		<span class="badge-bg"><em class="badge-text"></em><i max-number="99" class="icon-badge"></i></span>
		<span class="badge-bg"><em class="badge-text"></em><i max-number="999" class="icon-badge"></i></span>
	</div>
	<!-- badge 红点样式 -->
	<div class="w1190 badge-point">
		<span class="badge-bg"><em class="badge-text"></em><i class="icon-badge-point"></i></span>
		<span class="badge-clear"><em>文字</em><i class="icon-badge-point"></i></span>
	</div>
	<!-- badge 单独样式 -->
	<div class="w1190 badge-bubble">
		<i class="icon-badge" max-number="9"></i>
		<i class="icon-badge" max-number="99"></i>
		<i class="icon-badge-clear icon-badge" max-number="999"></i>
	</div>
</body>
<script src="../../../dep/jquery-1.11.1/jquery.min.js"></script>
<script type="text/javascript">
$(function  () {
	// 封顶判断
	var NUM_MSG = 101;
	$('.badge-dynamic .icon-badge').each(function(index, item) {
		var maxNum = $(item).attr('max-number');
		if(maxNum < NUM_MSG){
			$(item).text(maxNum+'+');
		}else{
			$(item).text(NUM_MSG);
		}
	});

	$('.badge-bubble .icon-badge').each(function(index, item) {
		var maxNum = $(item).attr('max-number');
		if(maxNum < NUM_MSG){
			$(item).text(maxNum+'+');
		}else{
			$(item).text(NUM_MSG);
		}
	});
})
</script>
</html>