<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>步骤demo</title>
    <link rel="stylesheet" href="../../dep/bootstrap-3.3.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/common.css" type="text/css"/>
    <link rel="stylesheet" href="css/step.css" type="text/css"/>
    <script type="text/javascript" src="../../dep/jquery-1.11.1/jquery.min.js"></script>
</head>
<body>
<div class="layout">
    <div class="panel panel-primary">
        <div class="panel-heading">当前第一步</div>
        <div class="panel-body">
            <div class="alert alert-info">
                正在进行的步骤添加.jm-steps-cross
            </div>
            <div class="jm-steps-wrap">
                <div class="jm-steps-item jm-steps-cross">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                            <div class="jm-steps-description">第一步第一步第一步第一步第一步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                            <div class="jm-steps-description">第二步第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item jm-steps-item-last">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                            <div class="jm-steps-description">第三步第三步</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 带描述-->
            <div class="jm-steps-wrap">
                <div class="jm-steps-item jm-steps-cross">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 带描述-->

            <div class="jm-steps-wrap jm-steps-wrap-small">
                <div class="jm-steps-item jm-steps-cross">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="button" class="btn btn-primary J_next" value="下一步"/>

            <input type="button" class="btn btn-primary J_prev" value="上一步"/>
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">第一步完成</div>
        <div class="panel-body">
            <div class="alert alert-success">
                给完成的步骤添加.jm-steps-finish
            </div>
            <div class="jm-steps-wrap">
                <div class="jm-steps-item jm-steps-finish">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="jm-steps-wrap jm-steps-wrap-small">
                <div class="jm-steps-item jm-steps-finish">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                        </div>
                    </div>
                </div>
            </div>

            <input type="button" class="btn btn-success J_next" value="下一步"/>

            <input type="button" class="btn btn-success J_prev" value="上一步"/>
        </div>
    </div>


    <div class="panel panel-danger">
        <div class="panel-heading">第一步完成第二步错误</div>
        <div class="panel-body">
            <div class="alert alert-danger">
                当前错误的步骤添加.jm-steps-error类，同时要给上一步骤添加.jm-steps-next-error来控制红线
            </div>
            <div class="jm-steps-wrap">
                <div class="jm-steps-item jm-steps-finish jm-steps-next-error">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item jm-steps-error">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jm-steps-wrap jm-steps-wrap-small">
                <div class="jm-steps-item jm-steps-finish jm-steps-next-error">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item jm-steps-error">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading">列向步骤</div>
        <div class="panel-body">
            <div class="jm-steps-wrap jm-steps-vertical">
                <div class="jm-steps-item jm-steps-finish">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                            <div class="jm-steps-description">第二步第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                            <div class="jm-steps-description">第二步第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                            <div class="jm-steps-description">第二步第二步</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="jm-steps-wrap jm-steps-wrap-small jm-steps-vertical">
                <div class="jm-steps-item jm-steps-finish">
                    <!-- S横线-->
                    <div class="jm-steps-tail"><i></i></div>
                    <!-- E横线-->
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">1</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第一步</div>
                            <div class="jm-steps-description">第二步第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-tail"><i></i></div>
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">2</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第二步</div>
                            <div class="jm-steps-description">第二步第二步</div>
                        </div>
                    </div>
                </div>

                <div class="jm-steps-item">
                    <div class="jm-steps-step">
                        <div class="jm-steps-head">
                            <div class="jm-steps-head-inner">
                                <div class="jm-steps-icon">3</div>
                            </div>
                        </div>
                        <div class="jm-steps-main">
                            <div class="jm-steps-title">第三步</div>
                        </div>
                    </div>
                </div>
            </div>


            <input type="button" class="btn btn-primary J_next" value="下一步"/>

            <input type="button" class="btn btn-primary J_prev" value="上一步"/>
        </div>
    </div>

</div>

<script type="text/javascript" src="js/script.js"></script>
</body>
</html>