<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Tabs标签页</title>
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_ap1nhtkczt1emi.css">
    <link rel="stylesheet" href="../style/style.css">
</head>

<body>
    <!-- tab干净样式 默认 -->
    <div class="tab-clear-default-wrap w1190 tabs tab-clear">
        <ul class="fn-clear tab-clear-default">
            <li class="fn-left active">
                <a href="javascript:;">标签一</a>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签二</a>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签三</a>
            </li>
        </ul>
        <div class="tab-content"></div>
    </div>
    <!-- tab干净样式 禁止 -->
    <div class="tab-clear-disabled-wrap w1190 tabs tab-clear">
        <ul class="fn-clear tab-clear-disabled">
            <li class="fn-left active">
                <a href="javascript:;">标签一</a>
            </li>
            <li class="fn-left" jm-disabled='true'>
                <a href="javascript:;">标签二</a>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签三</a>
            </li>
        </ul>
        <div class="tab-content"></div>
    </div>
    <!-- tab干净样式 icon -->
    <div class="tab-clear-icon-wrap w1190 tabs tab-clear">
        <ul class="fn-clear tab-clear-icon">
            <li class="fn-left active">
                <a class="jm-icon jm-icon-account" href="javascript:;">标签一</a>
            </li>
            <li class="fn-left">
                <a class="jm-icon jm-icon-icon-tupian" href="javascript:;">标签二</a>
            </li>
            <li class="fn-left">
                <a class="jm-icon jm-icon-duanxin" href="javascript:;">标签三</a>
            </li>
        </ul>
        <div class="tab-content"></div>
    </div>
    <!-- tab卡片样式 默认-->
    <div class="tab-card-default-wrap w1190 tabs tab-card">
        <ul class="fn-clear tab-card-default">
            <li class="fn-left active">
                <a href="javascript:;">标签一</a>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签二</a>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签三</a>
            </li>
        </ul>
        <div class="tab-content"></div>
    </div>
    <!-- tab卡片样式 关闭-->
    <div class="tab-card-close-wrap w1190 tabs tab-card">
        <ul class="fn-clear tab-card-close">
            <li class="fn-left active">
                <a href="javascript:;">标签一</a>
                <i class="jm-icon jm-icon-wrong"></i>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签二</a>
                <i class="jm-icon jm-icon-wrong"></i>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签三</a>
                <i class="jm-icon jm-icon-wrong"></i>
            </li>
        </ul>
        <div class="tab-content"></div>
    </div>
    <!-- tab卡片样式 关闭.添加-->
    <div class="tab-card-add-wrap w1190 tabs tab-card ">
        <ul class="fn-clear tab-card-add">
            <li class="fn-left active">
                <a href="javascript:;">标签一</a>
                <i class="jm-icon jm-icon-wrong"></i>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签二</a>
                <i class="jm-icon jm-icon-wrong"></i>
            </li>
            <li class="fn-left">
                <a href="javascript:;">标签三</a>
                <i class="jm-icon jm-icon-wrong"></i>
            </li>
            <a class="jm-icon jm-icon-jiahao fn-right tab-card-add-icon" href="javascript:;"></a>
        </ul>
        <div class="tab-content"></div>
    </div>
</body>
<script src="../../../dep/jquery-1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="../tabs.js"></script>
</html>
