<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="format-detection" content="telephone=no">
<meta name="format-detection" content="address=no">
<meta name="fragment" content="!">
<link rel="stylesheet" type="text/css" href="../style/common.css">
<link rel="stylesheet" type="text/css" href="../style/jm-alert.css">
<script type="text/javascript" src="../../../dep/jquery-1.11.1/jquery.min.js"></script>
<script src="../jquery.jmAlert.js"></script>
<style type="text/css">
    #alert-demo{
        padding: 30px;
        width: 680px;
    }
    #alert-demo h2{
        font-size: 28px;
        color: #666;
        font-weight: 400;
        line-height: 50px;
        margin-top: 20px;
    }
</style>
</head>
<body>
    <div id="alert-demo">
        <h2>普通实例</h2>
        <div class="jm-alert jm-alert-success" role="alert">
            <strong>Well done!</strong> You successfully read this important alert message.
        </div>
        <div class="jm-alert jm-alert-info" role="alert">
            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
        </div>
        <div class="jm-alert jm-alert-warning" role="alert">
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <div class="jm-alert jm-alert-danger" role="alert">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
        </div>
        <h2>可关闭实例</h2>
        <div class="jm-alert jm-alert-warning jm-alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <div class="jm-alert jm-alert-success jm-alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
            <strong>Warning!</strong> Better check yourself, you're not looking too good.
        </div>
        <h2>带连接实例</h2>
        <div class="jm-alert jm-alert-success" role="alert">
              <strong>Well done!</strong> You successfully read <a href="#" class="alert-link">this important alert message</a>.
        </div>
        <div class="jm-alert jm-alert-info" role="alert">
            <strong>Heads up!</strong> This <a href="#" class="alert-link">alert needs your attention</a>, but it's not super important.
        </div>
        <div class="jm-alert jm-alert-warning" role="alert">
            <strong>Warning!</strong> Better check yourself, you're <a href="#" class="alert-link">not looking too good</a>.
        </div>
        <div class="jm-alert jm-alert-danger" role="alert">
            <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
        </div>
    </div>
</body>
</html>