
@at-root {
  // Import the fonts
  @font-face {
    font-family: 'jm-icon';
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.eot'), '#{$icon-font-path}#{$icon-font-name}.eot'));
    src: url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.eot?#iefix'), '#{$icon-font-path}#{$icon-font-name}.eot?#iefix')) format('embedded-opentype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.woff'), '#{$icon-font-path}#{$icon-font-name}.woff')) format('woff'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.ttf'), '#{$icon-font-path}#{$icon-font-name}.ttf')) format('truetype'),
         url(if($bootstrap-sass-asset-helper, twbs-font-path('#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}'), '#{$icon-font-path}#{$icon-font-name}.svg##{$icon-font-svg-id}')) format('svg');
  }
}

// Catchall baseclass
.jm-icon {
  font-family:"jm-icon" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.jm-icon-loading:before { content: "\e601"; }

.jm-icon-waring:before { content: "\e616"; }

.jm-icon-search:before { content: "\e6ae"; }

.jm-icon-add:before { content: "\e612"; }

.jm-icon-account:before { content: "\e6b8"; }

.jm-icon-wrong:before { content: "\e618"; }

.jm-icon-close:before { content: "\e6a1"; }

.jm-icon-duanxin:before { content: "\e649"; }

.jm-icon-radio:before { content: "\e650"; }

.jm-icon-icon-tupian:before { content: "\e606"; }

.jm-icon-time:before { content: "\e61e"; }

.jm-icon-jiahao:before { content: "\e639"; }

.jm-icon-xiala-copy:before { content: "\e61d"; }

.jm-icon-last-page:before { content: "\e651"; }

.jm-icon-message:before { content: "\e6d4"; }

.jm-icon-detail:before { content: "\e644"; }

.jm-icon-menu:before { content: "\e65a"; }

.jm-icon-file:before { content: "\e798"; }

.jm-icon-list-style-type:before { content: "\e766"; }

.jm-icon-down:before { content: "\e6f5"; }

.jm-icon-medal:before { content: "\e64a"; }

.jm-icon-checkbook:before { content: "\e610"; }

.jm-icon-success:before { content: "\e63e"; }

.jm-icon-checkbaba:before { content: "\e602"; }

.jm-icon-radio-none:before { content: "\e604"; }

.jm-icon-delete:before { content: "\e605"; }

.jm-icon-next-page:before { content: "\e603"; }
