<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../dep/layer-3.0.1/skin/default/layer.css">
    <link rel="stylesheet" href="../../../dist/css/fly.css">
    <link rel="stylesheet" href="../../../site/css/index.css">
    <link rel="stylesheet" href="../../../site/css/jm-code.css">
    <script src="../../../dep/jquery-1.11.1/jquery.js"></script>
    <script src="../../../dep/layer-3.0.1/layer.js"></script>
    <script src="../../../dep/laypage-1.3.0/laypage.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
</head>
<body>
<!--内页公共导航 开始-->
<div class="top clearfix">
    <div class="logo fn-left"></div>
    <div class="nav fn-right ">
        <ul class="clearfix">
            <li class="current fn-left"><a>首页</a></li>
            <li class="fn-left"><a href="#">指南</a></li>
            <li class="fn-left"><a href="#">规范</a></li>
            <li class="fn-left"><a href="#">组件</a></li>
            <li class="fn-left"><a href="#">模式</a></li>
            <li class="fn-left"><a href="#">资源</a></li>
        </ul>
    </div>
</div>
<!--内页公共导航 结束-->


<div class="main-wrapper fn-clear">
    <!--左侧导航开始-->
    <div class="main-left fn-left">
        <div class="com-search">
            <i class="jm-icon jm-icon-search"></i>
            <input type="text" placeholder="搜索组件名..." _v-6db9881e="" class="search">
        </div>
        <div class="nav-item">
            <h1>组件</h1>
            <ul>
                <li class="nav-group-title">General</li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Button</span>
                        <span>按钮</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Icon</span>
                        <span>图标</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="nav-group-title">Form</li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Input</span>
                        <span>输入框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Radio</span>
                        <span>单选框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Checkbox</span>
                        <span>多选框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Select</span>
                        <span>选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>TimePicker</span>
                        <span>时间选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>DateTimePicker</span>
                        <span>日期时间选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Upload</span>
                        <span>上传</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Rate</span>
                        <span>评分</span>
                    </a>
                </li>
            </ul>

        </div>

        <div class="nav-item">
            <h1>组件</h1>
            <ul>
                <li class="nav-group-title">General</li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Button</span>
                        <span>按钮</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Icon</span>
                        <span>图标</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="nav-group-title">Form</li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Input</span>
                        <span>输入框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Radio</span>
                        <span>单选框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Checkbox</span>
                        <span>多选框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Select</span>
                        <span>选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>TimePicker</span>
                        <span>时间选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>DateTimePicker</span>
                        <span>日期时间选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Upload</span>
                        <span>上传</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Rate</span>
                        <span>评分</span>
                    </a>
                </li>
            </ul>

        </div>
        <div class="nav-item">
            <h1>组件</h1>
            <ul>
                <li class="nav-group-title">General</li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Button</span>
                        <span>按钮</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Icon</span>
                        <span>图标</span>
                    </a>
                </li>
            </ul>
            <ul>
                <li class="nav-group-title">Form</li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Input</span>
                        <span>输入框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Radio</span>
                        <span>单选框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Checkbox</span>
                        <span>多选框</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Select</span>
                        <span>选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>TimePicker</span>
                        <span>时间选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>DateTimePicker</span>
                        <span>日期时间选择器</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Upload</span>
                        <span>上传</span>
                    </a>
                </li>
                <li class="nav-group-list">
                    <a href="">
                        <span>Rate</span>
                        <span>评分</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!--右侧内容模块-->
    <div class="main-right">

        <!--组件标题-->
        <div class="sub-title mb40">
            <h1>分页</h1>
            <p>分页</p>
        </div>
        <div id="basic" class="sub-layout">
            <div><span class="sub-layout-title">基本用法</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <div id="page1"></div>
                    <script>
                        laypage({
                            cont:'page1',
                            pages:100,
                            first:1,
                            last:100
                        });
                    </script>
                </div>
                <div class="fn-right sub-note">
                    <h1>具体使用方法：</h1>
                    <p>给select设置属性model绑定数据，需要将model设置.sync实现数据的双向绑定，否则在改变状态时，使用者的数据并没有变化。</p>
                    <p>单选时，model 只接受字符串和数字类型，多选时只接受数组类型，组件会自动根据option的value来返回选中的数据。</p>
                    <p>可以给select添加 style 样式，比如宽度。</p>
                    <p>在展开选择器后，可以使用键盘的up和down快速上下选择，按下Enter选择，按下Esc收起选择器。</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&ltdiv id="page1"&gt&lt/div&gt
&ltscript&gt
    laypage({
        cont:'page1',
        pages:100,
        first:1,
        last:100
    });
&lt/script&gt
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>

        <div id="use2" class="sub-layout">
            <div><span class="sub-layout-title">页码显示的个数</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <div id="page2"></div>
                    <script>
                        laypage({
                            cont:'page2',
                            pages:100,
                            first:1,
                            last:100,
                            groups:7
                        });
                    </script>
                </div>
                <div class="fn-right sub-note">
                    <p>展示的页码个数</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&ltdiv id="page2"&gt&lt/div&gt
&ltscript&gt
laypage({
    cont:'page2',
    pages:100,
    first:1,
    last:100,
    groups:7
});
&lt/script&gt
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>

        <div id="use3" class="sub-layout">
            <div><span class="sub-layout-title">不显示首尾页</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <div id="page3"></div>
                    <script>
                        laypage({
                            cont:'page3',
                            pages:100,
                            first:false,
                            last:false
                        });
                    </script>
                </div>
                <div class="fn-right sub-note">
                    <p>不显示首尾页</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&ltdiv id="page3"&gt&lt/div&gt
&ltscript&gt
laypage({
    cont:'page3',
    pages:100,
    first:false,
    last:false
});
&lt/script&gt
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>

        <div id="use4" class="sub-layout">
            <div><span class="sub-layout-title">只显示上一页和下一页</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <div id="page4"></div>
                    <script>
                        laypage({
                            cont:'page4',
                            pages:100,
                            first:false,
                            last:false,
                            groups:0
                        });
                    </script>
                </div>
                <div class="fn-right sub-note">
                    <p>只显示上一页和下一页，不显示页码</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&ltdiv id="page4"&gt&lt/div&gt
&ltscript&gt
laypage({
    cont:'page4',
    pages:100,
    first:false,
    last:false,
    groups:0
});
&lt/script&gt
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>

        <div id="use5" class="sub-layout">
            <div><span class="sub-layout-title">跳转到具体页码</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <div id="page5"></div>
                    <script>
                        laypage({
                            cont:'page5',
                            pages:100,
                            first:1,
                            last:100,
                            skip:true
                        });
                    </script>
                </div>
                <div class="fn-right sub-note">
                    <p>跳转到具体页码</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&ltdiv id="page5"&gt&lt/div&gt
&ltscript&gt
laypage({
    cont:'page5',
    pages:100,
    first:1,
    last:100,
    skip:true
});
&lt/script&gt
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>

        <div id="use6" class="sub-layout">
            <div><span class="sub-layout-title">页码改变的事件回调</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <div id="page6"></div>
                    <script>
                        laypage({
                            cont:'page6',
                            pages:100,
                            first:1,
                            last:100,
                            jump:function(obj){
                                if(obj.curr != 1){
                                    alert(obj.curr)
                                }
                            }
                        });
                    </script>
                </div>
                <div class="fn-right sub-note">
                    <p>页码改变的事件回调</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&ltdiv id="page6"&gt&lt/div&gt
&ltscript&gt
laypage({
    cont:'page6',
    pages:100,
    first:1,
    last:100,
    jump:function(obj){
        if(obj.curr != 1){
            alert(obj.curr)
        }
    }
});
&lt/script&gt
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>

        <div id="use7" class="sub-layout">
            <div><span class="sub-layout-title">上一页和下一页用图标</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <div id="page7"></div>
                    <script>
                        laypage({
                            cont:'page7',
                            pages:100,
                            first:1,
                            last:100,
                            prev:'<i class="jm-icon jm-icon-last-page"></i>',
                            next:'<i class="jm-icon jm-icon-next-page"></i>'
                        });
                    </script>
                </div>
                <div class="fn-right sub-note">
                    <p>上一页和下一页用图标</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&ltdiv id="page7"&gt&lt/div&gt
&ltscript&gt
laypage({
    cont:'page7',
    pages:100,
    first:1,
    last:100,
    prev:'&lti class="jm-icon jm-icon-last-page"&gt&lt/i&gt',
    next:'&lti class="jm-icon jm-icon-next-page"&gt&lt/i&gt'
});
&lt/script&gt
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>

        <div id="use8" class="sub-layout">
            <div><span class="sub-layout-title">小尺寸的分页</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <div id="page8"></div>
                    <script>
                        laypage({
                            cont:'page8',
                            pages:100,
                            first:1,
                            last:100,
                            prev:'<i class="jm-icon jm-icon-last-page"></i>',
                            next:'<i class="jm-icon jm-icon-next-page"></i>',
                            size:'sm'
                        });
                    </script>
                </div>
                <div class="fn-right sub-note">
                    <p>小尺寸的分页</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&ltdiv id="page8"&gt&lt/div&gt
&ltscript&gt
laypage({
    cont:'page8',
    pages:100,
    first:1,
    last:100,
    prev:'&lti class="jm-icon jm-icon-last-page"&gt&lt/i&gt',
    next:'&lti class="jm-icon jm-icon-next-page"&gt&lt/i&gt',
    size:'sm'
});
&lt/script&gt
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>


        <!--字体使用规范-->
        <div id="api" class="api-table mt20">
            <h1>API</h1>
            <div class="font-use-norm">
                <table class="norm-table">
                    <thead>
                    <tr class="norm-height bor-bottom">
                        <th class="width-15 ">属性</th>
                        <th class="width-5"></th>
                        <th class="width-15">默认值</th>
                        <th class="width-5"></th>
                        <th class="width-15">类型</th>
                        <th class="width-5"></th>
                        <th class="width-15">描述</th>
                    </tr>


                    </thead>
                    <tbody>
                    <tr class="norm-height">
                        <td class="width-15 ">cont</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-main-title">必填</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">String/Object</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">容器。值可以传入元素id或原生DOM或jquery对象</td>
                    </tr>
                    <tr class="norm-height">
                        <td class="width-15 font-title-color">pages</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-second-title">必填</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">Number</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">分页数</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">curr</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-little-title">1</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">Number</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">当前页</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">groups</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-p-color">5</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">Number</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">连续分页数</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">first</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-p-color">1</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">Number/String/Boolean</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">用于控制首页。值支持三种类型。如first:'首页'。如frist:false，则表示不显示首页项</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">last</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-p-color">总页数</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">Number/String/Boolean</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">用于控制尾页。值支持三种类型。如last:'尾页'。如last:false，则表示不显示尾页项</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">prev</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-p-color">上一页</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">String/Boolean</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">用于控制上一页。若不显示，设置false即可</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">next</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-p-color">下一页</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">String/Boolean</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">用于控制下一页。若不显示，设置false即可</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">skip</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-p-color">false</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">Boolean</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">是否显示跳转</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">jump</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-p-color">核心参数</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">Function</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">触发分页后的回调，函数返回两个参数。obj是一个Object类型，包括分页的所有配置信息。first是一个Boolean类型，检测页面是否初始加载。非常有用，可避免无限刷新</td>
                    </tr>

                    <tr class="norm-height">
                        <td class="width-15">size</td>
                        <td class="width-5 border"></td>
                        <td class="width-15 font-p-color">default</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">String</td>
                        <td class="width-5 border"></td>
                        <td class="width-15">分页的尺寸类型，可选值为sm</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- 漂浮导航-->
    <div class="nav-float fn-left">
        <ul class="">
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#basic">基本用法</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#use2">页码显示的个数</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#use3">不显示首尾页</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#use4">只显示上一页和下一页</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#use5">跳转到具体页码</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#use6">页码改变的事件回调</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#use7">上一页和下一页用图标</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#use8">小尺寸的分页</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#api">API</a>
            </li>
        </ul>
    </div>


</div>

<!--页脚-->
<div class="footer clearfix">
    <p class="fn-left">JuMore Component library 版权所有</p>
    <span class="fn-right "></span>
</div>
<!-- 复制代码-->
<script type="text/javascript" src="../../../site/js/site.js"></script>
<script>
    $('.code-demo-copy').jmCopy()
</script>
</body>
</html>