<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="author" content="皮帅帅">
    <link rel="stylesheet" href="../style/common.css">
    <link rel="stylesheet" href="../style/fuzhu.css">
    <link rel="stylesheet" href="../../../dist/css/fly.less.css"/>
    <link rel="stylesheet" href="../style/radio_checkbox.css">
    <title>Checkbox</title>
</head>
<body>
<form action="">
    <ul class="form-ul">
        <li>可选择多选框</li>
        <li>
            <label class="jm-checkbox-box" for="">
                <span>
                    <span class="jm-checkbox-icon jm-icon"></span>一
                </span>
                <input type="checkbox" class="jm-checkbox" checked="checked" name="isMale1">
            </label>
            <label class="jm-checkbox-box" for="">
                <span>
                    <span class="jm-checkbox-icon jm-icon"></span>二
                </span>
                <input type="checkbox" class="jm-checkbox" name="isMale2">
            </label>
            <label class="jm-checkbox-box" for="">
                <span>
                    <span class="jm-checkbox-icon jm-icon"></span>三
                </span>
                <input type="checkbox" class="jm-checkbox" name="isMale3">
            </label>
        </li>
        <li>禁止多选框</li>
        <li>
            <label class="jm-checkbox-box" for="">
                <span>
                    <span class="jm-checkbox-icon jm-icon"></span>四
                </span>
                <input type="checkbox" class="jm-checkbox" disabled name="isMale4">
            </label>
            <label class="jm-checkbox-box" for="">
                <span>
                    <span class="jm-checkbox-icon jm-icon"></span>五
                </span>
                <input type="checkbox" class="jm-checkbox" disabled checked="checked" name="isMale5">
            </label>
        </li>
    </ul>
</form>
<script src="../../../dep/jquery-1.11.1/jquery.min.js"></script>
<script src="../radio_checkbox.js"></script>
<script>
    $(function () {
        $('.jm-checkbox-box').JmCheckbox()
    })
</script>
</body>
</html>