<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="皮帅帅">
        <link rel="stylesheet" href="../style/common.css">
        <link rel="stylesheet" href="../style/fuzhu.css">
        <link rel="stylesheet" href="../../../dist/css/fly.less.css"/>
        <link rel="stylesheet" href="../style/radio_checkbox.css">
        <title>Radio</title>
    </head>
    <body>
        <form action="">
            <ul class="form-ul">
                <li>可选择单选框</li>
                <li>
                    <label class="jm-radio-box" for="">
                        <span>
                            <span class="jm-icon"></span>一
                        </span>
                        <input type="radio" class="jm-radio" checked name="isMale">
                    </label>
                    <label class="jm-radio-box" for="">
                        <span>
                            <span class="jm-icon"></span>二
                        </span>
                        <input type="radio" class="jm-radio" name="isMale">
                    </label>
                    <label class="jm-radio-box" for="">
                        <span>
                            <span class="jm-icon"></span>三
                        </span>
                        <input type="radio" class="jm-radio" name="isMale">
                    </label>
                </li>
                <li>禁止单选框</li>
                <li>
                    <label class="jm-radio-box" for="">
                        <span>
                            <span class="jm-icon"></span>四
                        </span>
                        <input type="radio" class="jm-radio" checked="checked" disabled name="isMale">
                    </label>
                    <label class="jm-radio-box" for="">
                        <span>
                            <span class="jm-icon"></span>五
                        </span>
                        <input type="radio" class="jm-radio" disabled name="isMale">
                    </label>
                </li>
            </ul>
        </form>
        <script src="../../../dep/jquery-1.11.1/jquery.min.js"></script>
        <script src="../radio_checkbox.js"></script>
        <script>
            $('.jm-radio-box').JmRadio()
        </script>
    </body>
</html>