.jm-input{
	border: solid 1px #DDDDDD;
	box-sizing: border-box;
}
input.jm-input::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #BBBBBB;
} 
input.jm-input[disabled]::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #DDDDDD;
} 
input.jm-input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #BBBBBB;
} 
input.jm-input[disabled]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #DDDDDD;
} 
input.jm-input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #BBBBBB;
} 
input.jm-input[disabled]::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #DDDDDD;
} 
input.jm-input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #BBBBBB;
} 
input.jm-input[disabled]:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #DDDDDD;
} 


input.jm-input1[type="text"]{
	height: 26px;
	line-height: 24px;
	font-size: 12px;
	padding: 0 10px;
}
input.jm-input2[type="text"]{
	height: 30px;
	line-height: 28px;
	font-size: 12px;
	padding: 0 10px;
}
input.jm-input3[type="text"],
input.jm-input-default[type="text"]{
	height: 36px;
	line-height: 34px;
	font-size: 14px;
	padding: 0 10px;
}
input.jm-input4[type="text"]{
	height: 42px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 12px;
}

span.jm-link-input{
	display:inline-block;
	width:92px;
	height:34px;
	line-height:34px;
	color:#666;
	border:1px solid #ddd;
	border-right:none;
	text-align: center;
	background:#f6f6f6;
}

span.jm-input-wrap .jm-input-search{
	display:inline-block;
	width:90px;
	height:34px;
	border:1px solid #ddd;
	border-left:none;
	background:#f6f6f6 url('../img/search.png') 36px 9px no-repeat;
	cursor:pointer;
}

span.jm-input-wrap .select-classify{
	display:inline-block;
	width:125px;
	height:34px;
	line-height: 34px;
	color:#666;
	border:1px solid #ddd;
	border-right:none;
	background:#f6f6f6 url('../img/inputClassify.png') 98px 13px no-repeat;
	text-align: center;
	cursor:pointer;
}