<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../dep/layer-3.0.1/skin/default/layer.css">
    <link rel="stylesheet" href="../../../dist/css/fly.css">
    <link rel="stylesheet" href="../../../site/css/index.css">
    <link rel="stylesheet" href="../../../site/css/jm-code.css">
    <script src="../../../dep/jquery-1.11.1/jquery.js"></script>
    <script src="../../../dep/layer-3.0.1/layer.js"></script>
    <script src="//cdn.bootcss.com/highlight.js/9.9.0/highlight.min.js"></script>
    <script src="../../../dist/js/manifest.js"></script>
    <script src="../../../dist/js/fly.js"></script>
</head>
<body>

<div class="main-wrapper fn-clear">
    <!--右侧内容模块-->
    <div class="main-right">

        <!--组件标题-->
        <div class="sub-title mb40">
            <h1>Checkbox 多选框</h1>
            <p>在一组备选项中进行多选。</p>
        </div>
        <!--基础用法-->
        <div class="sub-layout">
            <div><span class="sub-layout-title">基础用法</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <label class="jm-checkbox-box" for="">
                        <span class="jm-checkbox-icon-box">
                            <span class="jm-icon"></span>备选项
                        </span>
                        <input type="checkbox" class="jm-checkbox" checked="checked" name="isMale1">
                    </label>
                    <label class="jm-checkbox-box" for="">
                        <span class="jm-checkbox-icon-box">
                            <span class="jm-icon"></span>备选项
                        </span>
                        <input type="checkbox" class="jm-checkbox" name="isMale2">
                    </label>
                </div>
                <div class="fn-right sub-note">
                    <p>单独使用可以表示两种状态之间的切换。</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left code-display">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&lt;label class="jm-checkbox-box" for=""&gt;
    &lt;span class="jm-checkbox-icon-box"&gt;
        &lt;span class="jm-icon"&gt;&lt;/span&gt;备选项
    &lt;/span&gt;
    &lt;input type="checkbox" class="jm-checkbox" checked="checked" name="isMale1"&gt;
&lt;/label&gt;
&lt;label class="jm-checkbox-box" for=""&gt;
    &lt;span class="jm-checkbox-icon-box"&gt;
        &lt;span class="jm-icon"&gt;&lt;/span&gt;备选项
    &lt;/span&gt;
    &lt;input type="checkbox" class="jm-checkbox" name="isMale2"&gt;
&lt;/label&gt;
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>
        <!--禁用状态-->
        <div class="sub-layout">
            <div><span class="sub-layout-title">禁用状态</span></div>
            <div class="sub-layout-content clearfix">
                <div class="fn-left sub-row">
                    <label class="jm-checkbox-box" for="">
                        <span class="jm-checkbox-icon-box">
                            <span class="jm-icon"></span>备选项
                        </span>
                        <input type="checkbox" class="jm-checkbox" disabled name="isMale4">
                    </label>
                    <label class="jm-checkbox-box" for="">
                        <span class="jm-checkbox-icon-box">
                            <span class="jm-icon"></span>备选项
                        </span>
                        <input type="checkbox" class="jm-checkbox" disabled checked="checked" name="isMale5">
                    </label>
                </div>
                <div class="fn-right sub-note">
                    <p>多选框不可用的状态。</p>
                </div>
            </div>

            <!-- 代码demo-->
            <div class="code-demo">
                <div class="code-demo-title"><span>代码演示</span></div>

                <!-- 展开情况-->
                <div class="code-demo-display clearfix">
                    <!-- 代码显示区域-->
                    <div class="fn-left code-display">
                        <div class="fn-left demo-display">
                            <pre>
                                <code class="JavaScript">
&lt;label class="jm-checkbox-box" for=""&gt;
    &lt;span class="jm-checkbox-icon-box"&gt;
        &lt;span class="jm-icon"&gt;&lt;/span&gt;备选项
    &lt;/span&gt;
    &lt;input type="checkbox" class="jm-checkbox" disabled name="isMale4"&gt;
&lt;/label&gt;
&lt;label class="jm-checkbox-box" for=""&gt;
    &lt;span class="jm-checkbox-icon-box"&gt;
        &lt;span class="jm-icon"&gt;&lt;/span&gt;备选项
    &lt;/span&gt;
    &lt;input type="checkbox" class="jm-checkbox" disabled checked="checked" name="isMale5"&gt;
&lt;/label&gt;
                                </code>
                            </pre>
                        </div>
                        <textarea class="demo-textarea"></textarea>
                    </div>
                    <!-- 复制代码-->
                    <div class="fn-right code-demo-copy">
                        <input type="button" value="复制代码"/>
                    </div>
                    <script>
                        hljs.initHighlightingOnLoad();
                    </script>
                </div>
                <!-- 收缩情况-->
                <div class="code-show"><i class="jm-icon jm-icon-down-copy icon-copy"></i></div>
            </div>
        </div>


        <!--字体使用规范-->
        <div id="api" class="api-table mt20">
            <h1>API</h1>
            <div class="font-use-norm">
                <table class="norm-table">
                    <thead>
                    <tr class="norm-height bor-bottom">
                        <th class="width-15 ">类别</th>
                        <th class="width-5"></th>
                        <th class="width-15">说明</th>
                        <th class="width-5"></th>
                        <th class="width-15">类型</th>
                        <th class="width-5"></th>
                        <th class="width-15">默认值</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="norm-height">
                        <td class="width-10 ">初始化方法</td>
                        <td class="width-5 border"></td>
                        <td class="width-20 font-main-title">$('.jm-checkbox-box').jmCheckbox();</td>
                        <td class="width-5 border"></td>
                        <td class="width-10">method</td>
                        <td class="width-5 border"></td>
                        <td class="width-15"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- 漂浮导航-->
    <div class="nav-float fn-left">
        <ul class="">
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#use">常见用法</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#tips">带有倾向提示</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#pianyi">推进偏移</a></li>
            <li><i class="jm-icon jm-icon-list-style-type"></i><a href="#api">API</a>
            </li>
        </ul>
    </div>


</div>

<!-- 复制代码-->
<script type="text/javascript" src="../../../site/js/site.js"></script>
<script>
    $('.code-demo-copy').jmCopy();
    $('.jm-checkbox-box').jmCheckbox();
</script>
</body>
</html>