/******radio与checkbox标签样式******/

$checkboxColor: #cacaca;
$checkboxHoverColor: #0080ca;
$checkboxSize: 14px;

.jm-checkbox-box {
  position: relative;
  margin-right: 20px;
  cursor: pointer;
  font-size: $checkboxSize;
  .jm-icon {
    display: inline-block;
    font-size: $checkboxSize;
    color: $checkboxColor;
    margin-right: 10px;
  }
  &:hover .jm-icon, .jm-icon-checkbook {
    color: $checkboxHoverColor;
  }
}

.jm-checkbox {
  vertical-align: text-bottom;
  margin-right: 10px;
  height: 14px;
  width: 14px;
  position: absolute;
  opacity: 0;
  filter: alpha(opacity = 0);
  top: -9999px;
  left: -9999px;
}

.jm-checkbox-box.jm-checkbox-disabled .jm-icon {
  color: $checkboxColor;
}