<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload上传</title>
    <link rel="stylesheet" href="../../../dist/css/fly.less.css"/>
    <link rel="stylesheet" href="../style/upload.css">
</head>
<body>
    <section class="main-content">
        <header>
            <h1>Upload上传</h1>
            <p>通过点击或者拖拽上传文件</p>
        </header>


        <fieldset>
            <legend>点击上传多个文件</legend>
            <ul class="file-list jm-upload">
                <li><a href="#"><span class="jm-icon-detail jm-icon"></span>food.jpeg</a><span class="jm-upload-btn-delete line-height32">删除</span></li>
                <li><a href="#"><span class="jm-icon-detail jm-icon"></span>food2.jpeg</a><span class="jm-upload-btn-delete line-height32">删除</span></li>
            </ul>

            <button class="jm-btn">上传</button>
            <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
            <div class="code-example"></div>
        </fieldset>

        <fieldset>
            <legend>图片列表样式</legend>
            <ul class="file-list jm-upload">
                <li><a href="#"><img class="thumbnail" src="static/thumbnail-pic.png">food.jpeg</a><span class="jm-upload-btn-delete line-height50">删除</span></li>
                <li><a href="#"><img class="thumbnail" src="static/thumbnail-pic.png">food2.jpeg</a><span class="jm-upload-btn-delete line-height50">删除</span></li>
            </ul>

            <button class="jm-btn">上传</button>
            <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
            <div class="code-example"></div>
        </fieldset>

        <fieldset>
            <legend>单个图片</legend>


            <button class="jm-btn">上传</button>
            <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
            <div class="code-example"></div>
        </fieldset>

        <fieldset>
            <legend>拖拽上传</legend>

            <button class="jm-btn">上传</button>
            <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
            <div class="code-example"></div>
        </fieldset>

        <fieldset>
            <legend>照片墙</legend>

            <button class="jm-btn">上传</button>
            <p class="comments">只能上传jpg/png文件，且不超过500kb</p>
            <div class="code-example"></div>
        </fieldset>
    </section>
</body>
</html>