<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tag标签</title>
	<link rel="stylesheet" href="../style/common.css">
	<link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="http://at.alicdn.com/t/font_3xxedbi13llvunmi.css">
</head>
<body>
	<!-- tag 标签基础示例 -->
	<div class="w1190">
		<span>标签一</span>
		<span>标签二</span>
		<span>标签三</span>
	</div>
	<!-- tag标签 添加与删除 -->
	<div class="w1190 tag-dynamic">
		<a href="javascript:;">标签一<i class="jm-icon jm-icon-wrong"></i></a>
		<a href="javascript:;">标签二<i class="jm-icon jm-icon-wrong"></i></a>
		<a href="javascript:;">标签三<i class="jm-icon jm-icon-wrong"></i></a>
		<a href="javascript:;" class="tag-add"><i class="jm-icon jm-icon-add"></i><em>添加标签</em></a>
	</div>
	<!-- tag 热门标签示例 -->
	<div class="w1190 tag-clear">
		<span>标签一</span>
		<span>标签二</span>
		<span>标签三</span>
	</div>
	<!-- tag 标签可选择示例 -->
	<div class="w1190 tag-clear">
		<a class="active" href="javascript:;">标签一</a>
		<a href="javascript:;">标签二</a>
		<a href="javascript:;">标签三</a>
	</div>
	<!-- tag 多彩标签示例 -->
	<div class="w1190">
		<span class="tag-color-8ec81c">标签一</span>
		<span class="tag-color-f2aa00">标签二</span>
		<span class="tag-color-e86261">标签三</span>
		<span class="tag-color-0080cb">标签四</span>
	</div>
</body>
<script src="../../../dep/jquery-1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="../tag.js"></script>
</html>