/******面包屑样式******/

.jm-crumbs {
  li {
    float: left;
    color: #666666;
    font-size: 14px;
  }
  a {
    color: #666666;
  }
  .active {
    color: #bababa;
  }
  i {
    padding: 0 4px;
    color: #bababa;
  }
  .jm-icon {
    font-size: 14px;
    margin-right: 4px;
  }
}