/******面包屑样式******/
$crumbsColor: $gray666;
$crumbsOtherColor: #bababa;
$crumbsFontSize: 14px;

.jm-crumbs {
  @include list-unstyled;
  @include clearfix;
  li {
    float: left;
    color: $crumbsColor;
    font-size: $crumbsFontSize;
  }
  a {
    color: $crumbsColor;
  }
  .active {
    color: $crumbsOtherColor;
  }
  i {
    padding: 0 4px;
    color: $crumbsOtherColor;
  }
  .jm-icon {
    font-size: $crumbsFontSize;
    margin-right: 4px;
  }
}