/******面包屑样式******/
.jm-crumbs li{
    float: left;
    color: #666666;
    font-size: 14px;
}
.jm-crumbs a{
    color: #666666;
}
.jm-crumbs .active{
    color: #bababa;
}
.jm-crumbs i{
    padding: 0 4px;
    color: #bababa;
}
.jm-crumbs-icon{
    font-size: 14px;
    margin-right: 4px;
}
/******radio与checkbox标签样式******/
.jm-radio-box,.jm-checkbox-box{
    position: relative;
    margin-right: 20px;
    cursor: pointer;
}
.jm-radio-box:hover .jm-radio-icon,
.jm-checkbox-box:hover .jm-checkbox-icon{
    background-position: -86px 0;
}
.jm-radio-box .jm-radio-icon,
.jm-checkbox-box .jm-checkbox-icon{
    display: inline-block;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 0;
    top: 3px;
    z-index: 1;
    padding-right: 10px;
    background: url('../img/jm-radio-icon.png') -45px 0 no-repeat;
}
.jm-checkbox-box .jm-checkbox-icon{
    background: url('../img/jm-checkbox-icon.png') -45px 0 no-repeat;
}
.jm-radio-box .jm-radio-icon.active,
.jm-checkbox-box .jm-checkbox-icon.active{
    background-position: 0 0;
}
.jm-radio,
.jm-checkbox{
     vertical-align: middle;
     margin-right: 10px;
     opacity: 0;
     filter: alpha(opacity=0);
}
.jm-radio-box.jm-radio-disabled .jm-radio-icon{
    background-position: -174px 0;
}
.jm-radio-box.jm-radio-disabled .jm-radio-icon.active{
    background-position: -131px 0;
}
.jm-checkbox-box.jm-checkbox-disabled .jm-checkbox-icon{
    background-position: -172px 0;
}
.jm-checkbox-box.jm-checkbox-disabled .jm-checkbox-icon.active{
    background-position: -129px 0;
}