/* badge公用样式 */
.badge-case{
	padding:20px 0;
}
.badge-bg{
	width: 60px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	position: relative;
	background: #ddd;
	border-radius: 6px;
	margin-right: 50px;
}
.badge-clear{
	color: #666;
	font-size: 14px;
	margin-right: 15px;
	display: inline-block;
	vertical-align: middle;
	line-height: 30px;
	position: relative;
	padding: 0px 22px;
}
.icon-badge{
	position: absolute;
	color: $badge-color;
	background: $badge-icon-bg;
	padding: 0px 6px;
	font-size: 14px;
	line-height: 18px;
	height: 20px;
	min-width: 20px;
	border-radius: 10px;
	border: 1px solid #f00;
	box-shadow: 0 0 0 1px #fff;
	font-style: normal;
}
.badge-text{
	display: inline-block;
	text-align: center;
	line-height: 30px;
	font-size: 14px;
	font-style: normal;
	color: #666;
}
.badge-bg .icon-badge{
	top: -10px;
	left: 100%;
	margin-left: -15px;
}
.badge-clear .icon-badge{
	top:5px;
	right:-15px;
}
/* badge 红点样式 */
.badge-point .icon-badge-point{
	width: 10px;
	height: 10px;
	position: absolute;
	background: #f00;
	border-radius: 50%;
	box-shadow: 0 0 0 1px #fff;
}
.badge-point .badge-bg .icon-badge-point{
	right: -5px;
	top: -5px;
}
.badge-point .badge-clear .icon-badge-point{
	right: 15px;
	top: 5px;
}
/*badge 气泡样式*/
.badge-bubble .icon-badge{
	position: static;
	display: inline-block;
	margin-right:15px;
}
.badge-bubble .icon-badge.icon-badge-clear{
	color: #666;
	background: #fff;
	border: 1px solid #ddd;
}