<!Doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/common.css">
         <link type="text/css" rel="stylesheet" href="sh/SyntaxHighlighter.css"/>
        <link rel="stylesheet" href = "css/demo.css">
        <link rel="stylesheet" href = "css/load.css">
        <script type="text/javascript" src="../../dep/jquery-1.11.1/jquery.min.js"></script>
        <script type="text/javascript" src="sh/shCoreCommon.js"></script>
        <script type="text/javascript" src="js/load.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
            dp.SyntaxHighlighter.config.clipboardSwf = 'sh/clipboard_new.swf';
            dp.SyntaxHighlighter.config.copyIcon = 'sh/icon_copy.gif';
            dp.SyntaxHighlighter.HighlightAll('code', true, true);

                $('#loadingTwin1').on('click',function(){
                    $('#containerTwin').loading('twin','拼命加载中...');
                    setTimeout(function(){
                        $('#containerTwin').loaded();
                    },2000);
                });

                 $('#loadingTwin2').on('click',function(){
                    $('#containerTwin1').loading('twin','加载中...');
                    setTimeout(function(){
                        $('#containerTwin1').loaded();
                    },2000);
                });

                $('#loadingTwin3').on('click',function(){
                    $('#containerMaskBlur').addClass('mask-blur');
                    $('#containerTwin2').loading('twin','拼命加载中...');
                    setTimeout(function(){
                        $('#containerTwin2').blurLoaded();
                    },2000);
                });

                $('#loadingTwin4').on('click',function(){
                    $('#containerMaskBlur1').addClass('mask-blur');
                    $('#containerTwin3').loading('twin','加载中...');
                    setTimeout(function(){
                        $('#containerTwin3').blurLoaded();
                    },2000);
                });

            });
        </script>
    </head>
    <body>
        <div class="loading-demo">
            <div class="loading-title">
                <h3>Loading 加载</h3>
                <p>用于显示一页或一段加载状态的微调.</p>
            </div>

            <fieldset class="loading-page fn-clear">
                <legend>整页或者区域非模糊加载</legend>

                <div class="fn-left">
                    <div id="containerTwin" class="page-example">
                        <img src="img/demoBg.jpg">
                    </div>

                     <button id="containerTwin1" class="fn-left"> xjisjxisjx </button>
                 </div>

                <div class="page-example-descr fn-left">
                    <div class="condition alert">
                        所有浏览器都支持的写法
                    </div>

                    <div class="trigger">
                        <a id = loadingTwin1 class="button">一般尺寸</a>
                    </div>

                    <div class="trigger">
                        <a id = loadingTwin2 class="button">按钮尺寸</a>
                    </div>
                </div>

                <textarea  name="code" class="html">
                    <div id="containerTwin" class="page-example">
                        <img src="img/demoBg.jpg">
                    </div>

                    <button id="containerTwin1" class="fn-left"> xjisjxisjx </button>
                </textarea>      
                <textarea  name="code" class="javascript">
                    <script type="text/javascript">
                        $(document).ready(function(){
                            $('#loadingTwin1').on('click',function(){
                                $('#containerTwin').loading('twin','拼命加载中...');
                                setTimeout(function(){
                                    $('#containerTwin').loaded();
                                },2000);
                            });

                             $('#loadingTwin2').on('click',function(){
                                $('#containerTwin1').loading('twin','加载中...');
                                setTimeout(function(){
                                    $('#containerTwin1').loaded();
                                },2000);
                            });
                        });
                    </script>
                </textarea>            
            </fieldset>

            <fieldset class="loading-page fn-clear">
                <legend>整页或者区域模糊加载</legend>

                <div class="fn-left">
                    <div id="containerTwin2" class="section-example">
                        <div id="containerMaskBlur">
                            djioasdjoijwio
                        </div>
                    </div>

                    <button id="containerTwin3">
                        <div id="containerMaskBlur1">
                            djioasdjo
                        </div>
                    </button>
                </div>

                <div class="page-example-descr fn-left" style="height:300px;">
                    <div class="condition alert">
                        IE9及以上版本支持，但是blur的模糊效果支持没有chrome好
                    </div>

                    <div class="condition alert" style="color:#e71818;">
                        特别注意：要在需要模糊效果的容器上手动添加id，这里是id="containerMaskBlur"和id="containerMaskBlur1"
                    </div>

                    <div class="trigger">
                        <a id = loadingTwin3 class="button">一般尺寸</a>
                    </div>

                    <div class="trigger">
                        <a id = loadingTwin4 class="button">按钮尺寸</a>
                    </div>
                </div>

                <textarea  name="code" class="html">
                    <div id="containerTwin2" class="section-example">
                        <div id="containerMaskBlur">
                            djioasdjoijwio
                        </div>
                    </div>

                    <button id="containerTwin3">
                        <div id="containerMaskBlur1">
                            djioasdjo
                        </div>
                    </button>
                </textarea>      
                <textarea  name="code" class="javascript">
                    <script type="text/javascript">
                        $(document).ready(function(){
                             $('#loadingTwin3').on('click',function(){
                                $('#containerMaskBlur').addClass('mask-blur');
                                $('#containerTwin2').loading('twin','拼命加载中...');
                                setTimeout(function(){
                                    $('#containerTwin2').blurLoaded();
                                },2000);
                            });

                            $('#loadingTwin4').on('click',function(){
                                $('#containerMaskBlur1').addClass('mask-blur');
                                $('#containerTwin3').loading('twin','加载中...');
                                setTimeout(function(){
                                    $('#containerTwin3').blurLoaded();
                                },2000);
                            });
                        });
                    </script>
                </textarea>        
            </fieldset>
        </div>


    </body>
</html>
