/* 标签常规样式 */
a, span{
  color: #666;
  font-size: 14px;
  line-height: 36px;
  padding:0px 22px;
  display: inline-block;
  background: #f6f6f6;
  border:1px solid #ddd;
  border-radius: 4px;
  margin-right: 5px;
}
input.custom{
  color: #666;
  font-size: 14px;
  line-height: 36px;
  padding:0px 22px;
  display: inline-block;
  border:1px solid #ddd;
  border-radius: 4px;
}
input.custom:focus{
  border-color: #49a9ee;
  outline: 0;
  box-shadow: 0 0 0 2px rgba(16, 142, 233, .2);
}
.w1190{
  margin:0 auto;
  width: 1190px;
  margin-bottom: 30px;
}
/*动态添加删除标签*/
.tag-dynamic i{
  display: inline-block;
  font-size: 12px;
  color: #666;
  margin-left: 10px;
}
.tag-dynamic .jm-icon-add{
  margin-left: 0px;
  margin-right: 10px;
  vertical-align: top;
}
.tag-dynamic .tag-add{
  border: 1px dashed #ddd;
  background: #fff;
}
/* 热门标签 */
.tag-clear span,
.tag-clear a{
  color: #666;
  font-size: 14px;
  line-height: 36px;
  padding:0px 22px;
  display: inline-block;
  background: #fff;
  border:none;
  border-radius: none;
  margin-right: 5px;
}
/* 热门标签 可点击 */
.tag-clear a.active{
  background: #0080cb;
  color: #fff;
}
/*多彩标签*/
.tag-color-8ec81c{
  border: 1px solid #8ec81c;
  background: transparent;
  color: #8ec81c;
}
.tag-color-f2aa00{
  border: 1px solid #f2aa00;
  background: transparent;
  color: #f2aa00;
}
.tag-color-e86261{
  border: 1px solid #e86261;
  background: transparent;
  color: #e86261;
}
.tag-color-0080cb{
  border: 1px solid #0080cb;
  background: transparent;
  color: #0080cb;
}