.panel {
  position: relative;
  padding: $modal-inner-padding;
  margin: 40px auto;
  border: 1px solid $modal-content-border-color;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  .panel-heading {
    position: absolute;
    top: -11px;
    padding: 0px 15px;
    background: #fff;
    font-size: $carousel-control-font-size;
    color: $btn-default-color;
    line-height: $carousel-control-font-size;
    font-weight: 700;
  }
}

.jm-steps-wrap {
  margin: 20px 40px;
}

.jm-steps-wrap {
  .jm-steps-item {
    position: relative;
    display: inline-block;
    width: 48%;
    margin-right: -35px;
    &:last-child {
      width: auto;
    }
  }
}

.jm-steps-wrap .jm-steps-item .jm-steps-tail {
  position: absolute;
  top: 13px;
  left: 0;
  width: 100%;
  padding: 0 45px;
  i {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 1px;
    vertical-align: top;
    background:$label-default-bg;
    &:after {
      position: absolute;
      content: '';
      top: 0;
      width: 0;
      background:$label-default-bg;
      height: 100%;
      opacity: 0;
    }
  }
}

.jm-steps-wrap .jm-steps-head {
  background: #fff;
}

.jm-steps-wrap .jm-steps-item:not(:first-child) .jm-steps-head {
  padding-left: 10px;
  margin-left: -10px;
}

.jm-steps-wrap .jm-steps-head-inner {
  position: relative;
  width: 26px;
  height: 26px;
  margin-right: 10px;
  font-style: normal;
  line-height: 26px;
  text-align: center;
  color:$label-default-bg;
  overflow:hidden;
}

.jm-steps-wrap .jm-steps-head-inner .jm-steps-circle {
  position: absolute;
  z-index: 1;
  width: 26px;
  height: 26px;
  font-size: 26px;
}

.jm-steps-wrap .jm-steps-head-inner{

  .jm-steps-icon {
    position:absolute;
    z-index: 2;
    width: 26px;
    font-size: 26px;
    line-height: 26px;
  }

  .jm-steps-bg {
    display: none;
    z-index: 2;
  }

  .jm-steps-right ,
  .jm-steps-wrong {
    display: none;
    z-index: 3;
    font-size: 16px;
  }


}


.jm-steps-wrap .jm-steps-head-inner .jm-steps-txt {
  position: absolute;
  left: 0;
  z-index: 4;
  width: 26px;
  color: $label-default-bg;
  height: 26px;
  text-align: center;
}

.jm-steps-wrap.jm-steps-wrap-small .jm-steps-tail {
  top: 8px;
}

.jm-steps-wrap.jm-steps-wrap-small .jm-steps-head-inner {
  width: 18px;
  height: 18px;
  margin-right: 6px;
  line-height: 18px;
  .jm-step-icon {
    font-size: 14px;
    line-height: 24px;
  }
}


.jm-steps-wrap.jm-steps-wrap-small .jm-steps-main .jm-steps-title {
  font-size: 14px;
  line-height: 18px;
}

.jm-steps-wrap .jm-steps-head,
.jm-steps-wrap .jm-steps-main {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.jm-steps-wrap .jm-steps-main .jm-steps-title {
  display: inline-block;
  padding-right: 10px;
  background: #fff;
  font-size: 16px;
  line-height: 26px;
  color:$label-default-bg;
}

.jm-steps-wrap .jm-steps-item-last .jm-steps-title {
  width: 100%;
  padding-right: 0;
}

.jm-steps-wrap .jm-steps-main .jm-steps-description {
  color:$label-default-bg;
  line-height: 22px;
}


.jm-steps-wrap.jm-steps-wrap-small .jm-steps-finish .jm-steps-head-inner {
  color: $btn-primary-bg;
}

.jm-steps-wrap .jm-steps-finish .jm-steps-tail i:after {
  width: 100%;
  background: $btn-primary-bg;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  opacity: 1;
}

.jm-steps-wrap .jm-steps-finish .jm-steps-title {
  color: $btn-primary-bg;
}

.jm-steps-wrap.jm-steps-wrap-small .jm-steps-head-inner {
  .jm-steps-circle,
  .jm-steps-icon ,
  .jm-steps-txt {
    width: 18px;
    height: 18px;
    font-size: 18px;
    line-height: 18px;
  }

  .jm-steps-txt {
    font-size: 12px;
  }
}




  .jm-steps-wrap.jm-steps-wrap-small .jm-steps-head-inner{
    .jm-steps-right,
    .jm-steps-wrong{
      margin-top: 2px;
      font-size: 12px;
    }
  }




.jm-steps-wrap .jm-steps-cross .jm-steps-head-inner {
  color: $btn-primary-bg;

  .jm-steps-circle,.jm-steps-bg {
    display: block;
    color: $btn-primary-bg;
  }

  .jm-steps-txt {
    color: #fff;
  }

}

.jm-steps-wrap .jm-steps-finish .jm-steps-head-inner{
  color: $btn-primary-bg;

  .jm-steps-circle {
    display: block;
    color: $btn-primary-bg;
  }

  .jm-steps-bg {
    display: none;
  }

  .jm-steps-right {
    display: block;
    font-size: 16px;
    color: $btn-primary-bg;
  }

  .jm-steps-wrong {
    font-size: 16px;
  }

  .jm-steps-txt {
    display: none;
  }

}

.jm-steps-wrap.jm-steps-wrap-small .jm-steps-finish .jm-steps-head-inner {
  .jm-steps-right {
    display: block;
    font-size: 12px;
  }
}

.jm-steps-wrap .jm-steps-error .jm-steps-head-inner {
  color: #db3f40;

  .jm-steps-circle {
    display: block;
    color: #db3f40;
  }

  .jm-steps-wrong {
    display: block;
    color: #db3f40;
  }
  .jm-steps-txt {
    display: none;
  }

}


  /*??????????*/

  .jm-steps-wrap .jm-steps-cross .jm-steps-head-inner {
    color: $btn-primary-bg;
  }

  .jm-steps-wrap .jm-steps-cross .jm-steps-txt {
    color: #fff;
  }

  .jm-steps-wrap .jm-steps-cross .jm-steps-title,
  .jm-steps-wrap .jm-steps-cross .jm-steps-description,
  .jm-steps-wrap .jm-steps-finish .jm-steps-title,
  .jm-steps-wrap .jm-steps-finish .jm-steps-description {
    color: $btn-primary-bg;
  }

  .jm-steps-wrap.jm-steps-wrap-small .jm-steps-cross .jm-steps-head-inner {
    color: $btn-primary-bg;
  }

  /*??????*/
  .jm-steps-wrap .jm-steps-next-error .jm-steps-tail i:after {
    background: #db3f40;
  }

  .jm-steps-wrap .jm-steps-error .jm-steps-head-inner {
    color: #db3f40;
  }


  .jm-steps-wrap .jm-steps-error .jm-steps-title {
    color: #db3f40;
  }

  .jm-steps-wrap.jm-steps-vertical .jm-steps-item {
    display: block;
    width: 100%;
  }

  .jm-steps-vertical .jm-steps-item .jm-steps-tail {
    width: 1px;
    height: 100%;
    top: 0;
    left: -32px;
    padding-top: 30px;
    padding-bottom: 4px;
  }

  .jm-steps-vertical .jm-steps-item .jm-steps-tail i {
    display: inline-block;
    position: relative;
    height: 100%;
    width: 1px;
    vertical-align: top;
    background:$label-default-bg;
  }

  .jm-steps-vertical .jm-steps-main .jm-steps-description {
    padding-bottom: 30px;
  }

  .jm-steps-wrap-small.jm-steps-vertical .jm-steps-item .jm-steps-tail {
    left: 8px;
    padding: 23px 0 5px 0;
  }
