/******radio与checkbox标签样式******/
.jm-radio-box, .jm-checkbox-box {
    position: relative;
    margin-right: 20px;
    cursor: pointer;
    font-size: 14px;
}

.jm-radio-box .jm-icon,
.jm-checkbox-box .jm-icon {
    display: inline-block;
    font-size: 14px;
    color: #cacaca;
    margin-right: 10px;
}

.jm-radio-box:hover .jm-icon,
.jm-checkbox-box:hover .jm-icon {
    color: #0080ca;
}

.jm-checkbox-box .jm-icon-checkbook,
.jm-radio-box .jm-icon-radio {
    color: #0080ca;
}

.jm-radio,
.jm-checkbox {
    vertical-align: text-bottom;
    margin-right: 10px;
    height: 14px;
    width: 14px;
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    top: -9999px;
    left: -9999px;
}

.jm-radio-box.jm-radio-disabled .jm-icon,
.jm-checkbox-box.jm-checkbox-disabled .jm-icon {
    color: #cacaca;
}