<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="皮帅帅">
        <link rel="stylesheet" href="css/common.css">
        <link rel="stylesheet" href="css/fuzhu.css">
        <link rel="stylesheet" href="css/crumbs.css">
        <title>Checkbox</title>
    </head>
    <body>
        <form action="">
            <ul class="form-ul">
                <li>
                    <label class="jm-checkbox-box" for="">
                        <span class="jm-checkbox-icon active"></span>
                        <input type="checkbox" class="jm-checkbox"  checked="checked" name="isMale1">男
                    </label>
                    <label class="jm-checkbox-box" for="">
                        <span class="jm-checkbox-icon"></span>
                        <input type="checkbox" class="jm-checkbox" name="isMale2">女
                    </label>
                    <label class="jm-checkbox-box" for="">
                        <span class="jm-checkbox-icon"></span>
                        <input type="checkbox" class="jm-checkbox" name="isMale3">人妖
                    </label>
                </li>
                <li>
                    <label class="jm-checkbox-box jm-checkbox-disabled" for="">
                        <span class="jm-checkbox-icon"></span>
                        <input type="checkbox" class="jm-checkbox" name="isMale3">禁止人妖
                    </label>
                    <label class="jm-checkbox-box jm-checkbox-disabled" for="">
                        <span class="jm-checkbox-icon active"></span>
                        <input type="checkbox" class="jm-checkbox" checked="checked" name="isMale3">允许人妖
                    </label>
                </li>
            </ul>
        </form>
        <script src="../libs/jquery-1.12.4.min.js"></script>
        <script src="../crumbs.js"></script>
    </body>
</html>