<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="皮帅帅">
        <title>Crumbs</title>
        <link rel="stylesheet" href="../style/common.css">
        <link rel="stylesheet" href="../../../dist/css/fly.less.css"/>
        <link rel="stylesheet" href="../style/crumbs.css">
    </head>
    <body>
        <!--第一种面包屑-->
        <div>第一种面包屑：</div>
        <ul class="jm-crumbs fn-clear">
            <li><a href=""><span class="jm-icon jm-icon-detail"></span>首页</a><i>/</i></li>
            <li><a href=""><span class="jm-icon jm-icon-detail"></span>第二级</a><i>/</i></li>
            <li class="active"><span class="jm-icon jm-icon-detail"></span>第三级</li>
        </ul>
        <!--第二种面包屑-->
        <div>第二种面包屑：</div>
        <ul class="jm-crumbs fn-clear">
            <li><a href=""><span class=""></span>首页</a><i>></i></li>
            <li><a href=""><span class=""></span>第二级</a><i>></i></li>
            <li class="active"><span class=""></span>第三级</li>
        </ul>
        <!--第三种面包屑-->
        <div>第三种面包屑：</div>
        <ul class="jm-crumbs fn-clear">
            <li><a href=""><span class=""></span>首页</a><i>></i></li>
            <li><a href=""><span class=""></span>第二级</a><i>></i></li>
            <li class="active"><span class=""></span>第三级</li>
        </ul>
    </body>
</html>