<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="author" content="皮帅帅">
        <link rel="stylesheet" href="../style/common.css">
        <link rel="stylesheet" href="../style/fuzhu.css">
        <link rel="stylesheet" href="../style/crumbs.css">
        <title>Radio</title>
    </head>
    <body>
        <form action="">
            <ul class="form-ul">
                <li>
                    <label class="jm-radio-box" for="">
                        <span class="jm-radio-icon active"></span>
                        <input type="radio" class="jm-radio" checked="checked" name="isMale">男
                    </label>
                    <label class="jm-radio-box" for="">
                        <span class="jm-radio-icon"></span>
                        <input type="radio" class="jm-radio" name="isMale">女
                    </label>
                    <label class="jm-radio-box" for="">
                        <span class="jm-radio-icon"></span>
                        <input type="radio" class="jm-radio" name="isMale">人妖
                    </label>
                </li>
                <li>
                    <label class="jm-radio-box jm-radio-disabled" for="">
                        <span class="jm-radio-icon active"></span>
                        <input type="radio" class="jm-radio" checked="checked" name="isMale">人鱼
                    </label>
                    <label class="jm-radio-box jm-radio-disabled" for="">
                        <span class="jm-radio-icon"></span>
                        <input type="radio" class="jm-radio" name="isMale">妖人
                    </label>
                </li>
            </ul>
        </form>
        <script src="../../../dep/jquery-1.11.1/jquery.min.js"></script>
        <script src="../crumbs.js"></script>
    </body>
</html>